body {
  background-image: url('https://img.freepik.com/free-vector/white-background-with-triangle-patterns_1017-18410.jpg?w=740&t=st=1674193468~exp=1674194068~hmac=72f64df1cece7d22a741891cdd9a22fef34c51786b0a3596ca6d2a987abc7953');
  // background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
.App {
  padding: 5rem;
}
h1 {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.formPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  p {
    margin: 1rem;
    max-width: 300px;
  }
}
.loginForm {
  display: flex;
  flex-direction: column;;
  align-items: flex-end;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  input {
    margin: 10px;
  }
}
.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  .updateForm {
    display: flex;
    flex-direction: column;;
    align-items: flex-end;
    padding: 1rem;
    span {
      margin: .5rem;
      label {
        margin: .5rem;
      }
    }
  }
}
.delDiv {
  margin: 2rem;
 color: red;
 text-decoration: underline;
}
.resetPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  form {
    display: flex;
    flex-direction: column;;
    align-items: flex-end;
    padding: 1rem;
    span {
      margin: .5rem;
      label {
        margin: .5rem;
      }
    }
  }
  p {
    margin: 1rem;
    max-width: 300px;
  }
}